<app-menu></app-menu>
<div class="text-layout">
  <h3>Proyecto UMG</h3>
  <p>Seminario -Integracion DEVOPS-</p>
</div>

<div class="grid">
  <div class="col-3">
    <p-card styleClass="toolCard" header="Usuarios"  class="toolCard">
      {{ nombreLower | uppercase }}
    </p-card>
  </div>

  <div class="col-3" >
    <p-card styleClass="toolCard1" header="Clientes"  class="toolCard1">
      {{ nombreLower | uppercase }}
    </p-card>
  </div>

  <div class="col-3">
    <p-card  styleClass="toolCard2" header="Suscripciones"  class="toolCard2">
      {{ nombreCompleto | uppercase }}
    </p-card>
  </div>
  <div class="col-3">
    <p-card styleClass="toolCard3" header="Capacitaciones"   class="toolCard3">
      Capacitaciones
    </p-card>
  </div>
</div>
