<app-menu></app-menu>
<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div>
      <div class="text-center mb-5">
        <!-- <img src="assets/demo/images/logos/logo1.jpeg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">  -->
      </div>
      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="text-center mb-5">
            <!-- <img src="assets/demo/images/logos/logo10.jpeg" alt="Image" height="50" class="mb-3"> -->
            <div class="text-900 text-3xl font-medium mb-3">
              Crear suscripcion
            </div>
            <span class="text-600 font-medium"
              >Complete los campos por favor</span
            >
          </div>

          <div>
            <label
              for="suscripcion"
              class="block text-900 text-xl font-medium mb-2"
              >suscripcion (MENSUAL, ANUAL, COORPORATIVA_MENSUAL,
              COORPORATIVA_ANUAL)</label
            >
            <input
              formControlName="suscripcion"
              id="suscripcion"
              type="text"
              placeholder="suscripcion"
              pInputText
              class="w-full mb-5"
              style="padding: 1rem"
            />
            <label
              for="suscripcion"
              class="block text-900 text-xl font-medium mb-2"
              >fecha Incio</label
            >
            <input
              formControlName="fechaIncio"
              id="fechaIncio"
              type="text"
              placeholder="fecha Incio"
              pInputText
              class="w-full mb-5"
              style="padding: 1rem"
              [(ngModel)]="dateNowCurrent"
            />

            <label
              for="fechaFin"
              class="block text-900 text-xl font-medium mb-2"
              >fecha Fin</label
            >
            <input
              formControlName="fechaFin"
              id="fechaFin"
              type="text"
              placeholder="fechaFin"
              pInputText
              class="w-full mb-5"
              style="padding: 1rem"
              [(ngModel)]="dateNowCurrent"
            />

            <label
              for="metodoPago"
              class="block text-900 text-xl font-medium mb-2"
              >Método Pago (TARJETA, PAYPAL)</label
            >
            <input
              formControlName="metodoPago"
              id="metodoPago"
              type="text"
              placeholder="metodoPago"
              pInputText
              class="w-full mb-5"
              style="padding: 1rem"
            />

            <label for="precio" class="block text-900 text-xl font-medium mb-2"
              >precio</label
            >
            <input
              formControlName="precio"
              id="precio"
              type="text"
              placeholder="precio"
              pInputText
              class="w-full mb-5"
              style="padding: 1rem"
            />
            <button
              pButton
              pRipple
              label="Registrarse"
              class="text-center center-text w-full p-3 text-xl p-button-success"
            ></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
