<app-menu></app-menu>
<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div>
      <div class="text-center mb-5">
        <!-- <img src="assets/demo/images/logos/logo1.jpeg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">  -->
      </div>
      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="text-center mb-5">
            <!-- <img src="assets/demo/images/logos/logo10.jpeg" alt="Image" height="50" class="mb-3"> -->
            <div class="text-900 text-3xl font-medium mb-3">
              Crear Herramienta
            </div>
            <span class="text-600 font-medium"
              >Complete los campos por favor</span
            >
          </div>

          <div>
            <label for="estado" class="block text-900 text-xl font-medium mb-2"
              >Nombre</label
            >
            <input
              formControlName="nombre"
              id="nombre"
              type="text"
              placeholder="nombre"
              pInputText
              class="w-full md:w-30rem mb-5"
              style="padding: 1rem"
            />
            <label
              for="tipo"
              class="block text-900 text-xl font-medium mb-2"
              >Tipo de capacitacion</label
            >
            <input
              formControlName="tipo"
              id="tipo"
              type="text"
              placeholder="tipo"
              pInputText
              class="w-full md:w-30rem mb-5"
              style="padding: 1rem"
            />

            <label
              for="descripcion"
              class="block text-900 text-xl font-medium mb-2"
              >Descripción</label
            >
            <input
              formControlName="descripcion"
              id="descripcion"
              type="text"
              placeholder="descripcion"
              pInputText
              class="w-full md:w-30rem mb-5"
              style="padding: 1rem"
            />

            <label
              for="Contenido"
              class="block text-900 text-xl font-medium mb-2"
              >Contenido</label
            >
            <input
              formControlName="contenido"
              id="Contenido"
              type="text"
              placeholder="Contenido"
              pInputText
              class="w-full mb-5"
              style="padding: 1rem"
            />
            <button
              pButton
              pRipple
              label="Registrarse"
              class="w-full p-4 text-xl p-button-success"
            ></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
