<app-menu></app-menu>
<div class="lex flex-row flex-wrap pl-6 pr-6">
  <h1>Lista de suscripciones</h1>
  <div class="py-2 w-12rem m-3 border-round">
    <button
      pButton
      class="text-center center-text w-full p-3 text-xl p-button-success"
      [routerLink]="['/suscription/register']"
      label="Nuevo"
      severity="success"
    ></button>
  </div>
  <p-table
    [value]="dataRequest"
    [tableStyle]="{ 'min-width': '60rem' }"
    #dt1
    dataKey="id"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="code" style="width: 10%">
          Code <p-sortIcon field="code"></p-sortIcon>
        </th>
        <th pSortableColumn="name" style="width: 10%">
          Fecha inicio <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="category" style="width: 20%">
          Fecha fon <p-sortIcon field="category"></p-sortIcon>
        </th>
        <th pSortableColumn="quantity" style="width: 20%">
          Metodo de pago <p-sortIcon field="quantity"></p-sortIcon>
        </th>
        <th pSortableColumn="price" style="width: 20%">
          Precio <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th pSortableColumn="acciones" style="width: 20%">
          Acciones <p-sortIcon field="price"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{ customer.suscripcion }}</td>
        <td>{{ customer.fechaIncio }}</td>
        <td>{{ customer.fechaFin }}</td>
        <td>{{ customer.metodoPago }}</td>
        <td>{{ customer.precio }}</td>
        <td>
          <span>
            <!-- <p-button
              icon="pi pi-pencil"
              class="px-2"
              severity="primary"
            ></p-button> -->
            <p-button icon="pi pi-trash" severity="danger"></p-button
          ></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
